*{
    box-sizing: border-box;;

}

body{
    min-height: 100vh;
   background: linear-gradient(180deg,
   rgba(183, 23, 23,0.2) 0%,
   rgba(82, 12, 174, 0.2) 97.67%);
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}


.mainParent{
    width: 500px;
    background: white;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.result{
   border: 1px solid rgba(155, 154, 154, 0.5) ;
   line-height: 2rem;
   margin-bottom: 1rem;
   width: 100%;

   display: flex;
   flex-direction: row-reverse;
   padding: 1rem;
   font-size: 3rem;
   font-weight: bolder;
   box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);;
       border-radius: 3px;
}


.items {
	display: grid;
	gap: 2rem;
	grid-template-columns: auto;
	grid-template-areas:
		"clear clean dived multi"
		"no8 no9 no0 minus"
		"no4 no5 no6 plus"
		"no3 no2 no1 ans";
}



.items > * {
    width: 80px;
    height: 80px;
    font-size: 40px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}

.clear {
	grid-area: clear;
}
.clean {
	grid-area: clean;
}
.dived {
	grid-area: dived;
}
.multi {
	grid-area: multi;
}
.minus {
	grid-area: minus;
}
.plus {
	grid-area: plus;
}
.ans {
	grid-area: ans;
}
.no-1 {
	grid-area: no1;
}
.no-2 {
	grid-area: no2;
}
.no-3 {
	grid-area: no3;
}
.no-4 {
	grid-area: no4;
}
.no-5 {
	grid-area: no5;
}
.no-6 {
	grid-area: no6;
}
.no-7 {
	grid-area: no7;
}
.no-8 {
	grid-area: no8;
}
.no-9 {
	grid-area: no9;
}
.no-0 {
	grid-area: no0;
}